<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Office Address</h5>
                <p class="grey-text text-lighten-4">Opposite Michael Okpara University of Agriculture, Umudike School Gate, Off Ikpot-Ekpene Road,  Abia State.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Connect with Us!</h5>
                <ul id="footer-links">
                    <li><a class="grey-text text-lighten-3" href="#!"><span class="mdi mdi-instagram left footer-icon"></span></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><span class="mdi mdi-twitter left footer-icon"></span></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><span class="mdi mdi-facebook left footer-icon"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row center">
                <div class="col s12">
                    <span class="center copy">&copy; Copyright Vegistechnology - 2018</span>
                </div>
            </div>
        </div>
    </div>
</footer>
