<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolores maxime iusto optio, cum reprehenderit. Eligendi consectetur adipisci perferendis architecto? -->
<header id="page-top">
    <div class="navbar navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="/img/logo.png" alt="Logo"></a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><span id="menu-icon" class="mdi mdi-menu"></span></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="links" href="/">Home</a></li>
                    <li><a class="links" href="#">Projects</a></li>
                    <li><a class="links products" href="/products">Products</a></li>
                    <li><a class="links" href="#">Services</a></li>
                    <li><a class="links" href="#">Student</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-nav">
            <li><a class="links" href="/">Home</a></li>
            <li><a class="links" href="#">Projects</a></li>
            <li><a class="links products" href="/products">Products</a></li>
            <li><a class="links" href="#">Services</a></li>
            <li><a class="links" href="#">Student</a></li>
        </ul>
    </div>
</header>