<header id="page-top">
    <div class="navbar navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="/img/logo.png" alt="Logo"></a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><span id="menu-icon" class="mdi mdi-menu"></span></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="links home" href="/">Home</a></li>
                    <li><a class="links about" href="/about">About</a></li>
                    {{!-- <li><a class="links" href="/projects">Projects</a></li> --}}
                    <li><a class="links store" href="/store">Store</a></li>
                    {{!-- <li><a class="links" href="#">Student</a></li> --}}
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-nav">
            <li><a class="links" href="/">Home</a></li>
            <li><a class="links about" href="/about">About</a></li>
            {{!-- <li><a class="links" href="/projects">Projects</a></li> --}}
            <li><a class="links store" href="/store">Store</a></li>
            {{!-- <li><a class="links" href="#">Student</a></li> --}}
        </ul>
    </div>
</header>