<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video src="/vid.mkv" autoplay loop muted playsInline></video>
    </div>
    <div class="header-overlay"></div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><span id="menu-icon" class="mdi mdi-menu"></span></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="links" href="#">Home</a></li>
                    <li><a class="links" href="#">Projects</a></li>
                    <li><a class="links" href="#">Products</a></li>
                    <li><a class="links" href="#">Services</a></li>
                    <li><a class="links" href="#">Student</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-nav">
            <li><a class="links" href="#">Home</a></li>
            <li><a class="links" href="#">Projects</a></li>
            <li><a class="links" href="#">Products</a></li>
            <li><a class="links" href="#">Services</a></li>
            <li><a class="links" href="#">Student</a></li>
        </ul>
    </div>
    <div class="header-content">
        <h1>Vegistech</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolores maxime iusto optio, cum reprehenderit. Eligendi consectetur adipisci perferendis architecto?</p>
        <a id="readMore" href="" class="btn btn-large">Read More</a>
    </div>
</header>
