{{> header}}
<main>
    <div id="products-header">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/products" class="breadcrumb">Products</a>
            <a href="/products/systemUnits" class="breadcrumb products">Accessories</a>
        </div>
        <h4>What We Sell</h4>
    </div>
    <div id="products">
        <h5>Computer Accessories</h5>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/accessories/chargers.jpg" alt="Laptop Chargers" data-caption="Laptop Chargers">
                    </div>
                    <div class="card-action center">
                        <span>Laptop Chargers</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/accessories/hard-drives.jpg" alt="Hard Drives" data-caption="Hard Drives">
                    </div>
                    <div class="card-action center">
                        <span>Hard Drives</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/accessories/laptop-battery.jpeg" alt="Laptop Battery" data-caption="Laptop Battery">
                    </div>
                    <div class="card-action center">
                        <span>Laptop Battery</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/accessories/laptop-keyboard.jpg" alt="Keyboard" data-caption="Keyboard">
                    </div>
                    <div class="card-action center">
                        <span>Keyboard</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/accessories/mouse.jpg" alt="Mouse" data-caption="Mouse">
                    </div>
                    <div class="card-action center">
                        <span>Mouse</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/accessories/ram.jpg" alt="RAM" data-caption="RAM">
                    </div>
                    <div class="card-action center">
                        <span>RAM</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/accessories/screens.png" alt="Screens" data-caption="Screens">
                    </div>
                    <div class="card-action center">
                        <span>Screens</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages">
            <ul class="pagination center">
                <li class="waves-effect"><a href="/products/printers"><span class="mdi mdi-chevron-left"></span></a></li>
                <li class="waves-effect"><a href="/products">1</a></li>
                <li class="waves-effect"><a href="/products/systemUnits">2</a></li>
                <li class="waves-effect"><a href="/products/tabs">3</a></li>
                <li class="waves-effect"><a href="/products/screens">4</a></li>
                <li class="waves-effect"><a href="/products/printers">5</a></li>
                <li class="active waves-effect"><a href="/products/accessories">6</a></li>
                <li class="disabled waves-effect"><a><span class="mdi mdi-chevron-right"></span></a></li>
            </ul>
         </div>
    </div>
</main>
{{> fab}}
{{> footer}}