{{> header}}
<main>
    <section class="section">
        <h4 class="center">Our Products</h4>
        <div id="products" class="row">
            <div class="col s12 l3 m6">
                <div class="card-panel">
                    <span>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
            <div class="col s12 l3 m6">
                <div class="card-panel">
                    <span>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
            <div class="col s12 l3 m6">
                <div class="card-panel">
                    <span>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
            <div class="col s12 l3 m6">
                <div class="card-panel">
                    <span>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
        </div>
    </section>
    <div id="values">
        <h4 class="center">Values</h4>
        <div class="row">
            <div class="col s12 m2 l3">
                <span class="mdi mdi-source-branch values-icon"></span>
                <h5 class="values-header">Openness</h5>
                <p>All our products and services and distrinuted and rendered with genuiness and customer satisfaction in mind.</p>
            </div>
            <div class="col s12 m2 l3">
                <span class="mdi mdi-school values-icon"></span>
                <h5 class="values-header">Quality</h5>
                <p>We are focused on delivering quality product and services, product simplicity and user experience.</p>
            </div>
            <div class="col s12 m2 l3">
                <span class="mdi mdi-lightbulb-on-outline values-icon"></span>
                <h5 class="values-header">Usefulness</h5>
                <p>We provide products and services that match the needs of both private and public organizations.</p>
            </div>
            <div class="col s12 m2 l3">
                <span class="mdi mdi-rocket values-icon"></span>
                <h5 class="values-header">Reactivity</h5>
                <p>We listen to the requests made by organizations that use our products.</p>
            </div>
        </div>
    </div>
    <div id="values-contact" class="row">
        <div class="col s12">
            <p>You embrace these values ​​and would need our products or services? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" id="values-contact-button" class="btn btn-large">Contact</a></p>
        </div>
    </div>
    <div class="parallax1">
        <div class="parallax-text center">
            <span>Together Everyone Achieves More</span>
        </div>
    </div>
    <section class="white">
        <h3>Our Team</h3>
        <div class="row white">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/me.jpg" alt="Uzoanya Dominic">
                    </div>
                <div class="card-content">
                    <p>Uzoanya Dominic</p>
                </div>
                <div class="card-action">
                    <p>Senior Developer</p>
                </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/me.jpg" alt="Uzoanya Dominic">
                    </div>
                <div class="card-content">
                    <p>Uzoanya Dominic</p>
                </div>
                <div class="card-action">
                    <p>Senior Developer</p>
                </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/me.jpg" alt="Uzoanya Dominic">
                    </div>
                <div class="card-content">
                    <p>Uzoanya Dominic</p>
                </div>
                <div class="card-action">
                    <p>Senior Developer</p>
                </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/me.jpg" alt="Uzoanya Dominic">
                    </div>
                <div class="card-content">
                    <p>Uzoanya Dominic</p>
                </div>
                <div class="card-action">
                    <p>Senior Developer</p>
                </div>
                </div>
            </div>
        </div>
        <!-- <div class="row white">
            <div class="col s12 m6 l3 team">
                <div class="team-image-container">
                    <img src="/img/me.jpg" alt="Uzoanya Dominic" class="responsive-img team-image-container">
                </div>
                <div>
                    <span>We listen to the requests made by organizations that use our products.</span>
                    <p>Uzoanya Dominic</p>
                </div>
            </div>
        </div> -->
    </section>
    <div class="parallax2">
        <div class="parallax-text">
            <span>Parallax Text</span>
        </div>
    </div>
</main>
{{> footer}}
