{{> header}}
<main>
    <div class="v-header container">
        <div class="fullscreen-video-wrap">
            <video class="responsive-video" src="/vid.mkv" autoplay="true" loop="true" muted="true" playsInline></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>Vegistech</h1>
            <p class="txt-type" data-words='["When you think of quality products and services, think vegistech . . . . . . . ", "Providing IT-based solutions to solve daily business tasks . . . . . . ", "Our solutions keep firms ahead of their competition and ensure high profit returns . . . . . . ", "We ensure speedy and reliable delivery for our products and services . . . . . . "]'><span id="typewriter-text"></span></p>
            <a id="readMore" href="" class="btn btn-large">Read More</a>
        </div>
    </div>
    <section class="section">
        <h4 class="center">Our store</h4>
        <div id="store" class="row">
            <div class="col s12 m6 l3">
                <a href="/store">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="mdi mdi-desktop-mac store-icon"></span>
                        </div>
                        <div class="card-action">
                            <p>Computers</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a href="/store/tabs">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="mdi mdi-tablet-cellphone store-icon"></span>
                        </div>
                        <div class="card-action">
                            <p>Tablets</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a href="/store/printers">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="mdi mdi-printer store-icon"></span>
                        </div>
                        <div class="card-action">
                            <p>Printers</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a href="/store/accessories">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="mdi mdi-headphones-settings store-icon"></span>
                        </div>
                        <div class="card-action">
                            <p>Accessories</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container center">
            <a href="#" class="more">View More...</a>
        </div>
    </section>
    <div id="values">
        <h4 class="center">Values</h4>
        <div class="row">
            <div class="col s12 m2 l3">
                <span class="mdi mdi-source-branch values-icon"></span>
                <h5 class="values-header">Openness</h5>
                <p>All our store and services are distributed and rendered with genuiness and customer satisfaction in mind.</p>
            </div>
            <div class="col s12 m2 l3">
                <span class="mdi mdi-school values-icon"></span>
                <h5 class="values-header">Quality</h5>
                <p>We are focused on delivering quality store and services, store simplicity and user experience.</p>
            </div>
            <div class="col s12 m2 l3">
                <span class="mdi mdi-lightbulb-on-outline values-icon"></span>
                <h5 class="values-header">Usefulness</h5>
                <p>We provide store and services that match the needs of both private and public organizations.</p>
            </div>
            <div class="col s12 m2 l3">
                <span class="mdi mdi-rocket values-icon"></span>
                <h5 class="values-header">Reactivity</h5>
                <p>We listen to the requests made by organizations that use our store.</p>
            </div>
        </div>
    </div>
    <div id="values-contact" class="row">
        <div class="col s12">
            <p>You embrace these values ​​and would need our store or services? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" id="values-contact-button" class="btn btn-large">Contact</a></p>
        </div>
    </div>
    <div class="parallax1">
        <div class="parallax-text">
            <span>Together Everyone Achieves More</span>
        </div>
    </div>
    <section class="white">
        <h3>Our Team</h3>
        <div class="row white">
            <div class="col s12 m6 l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/img/me.jpg" alt="Uzoanya Dominic">
                    </div>
                    <div class="card-content">
                        <p>Uzoanya Dominic</p>
                    </div>
                    <div class="card-action">
                        <p>Senior Developer</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/img/me.jpg" alt="Uzoanya Dominic">
                    </div>
                    <div class="card-content">
                        <p>Uzoanya Dominic</p>
                    </div>
                    <div class="card-action">
                        <p>Senior Developer</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/img/chika.jpg" alt="Ikeanyionwu Chika">
                    </div>
                    <div class="card-content">
                        <p>Ikeanyionwu Chika</p>
                    </div>
                    <div class="card-action">
                        <p>Administration Manager</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/img/me.jpg" alt="Uzoanya Dominic">
                    </div>
                    <div class="card-content">
                        <p>Uzoanya Dominic</p>
                    </div>
                    <div class="card-action">
                        <p>Senior Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="parallax2">
        <div class="parallax-text">
            <span>Think quality, think Vegistech.</span>
        </div>
    </div>
</main>
{{> fab}}
{{> footer}}