{{> header}}
<main>
    <div id="store-header">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/store" class="breadcrumb">store</a>
            <a href="/store/systemUnits" class="breadcrumb store">Printers</a>
        </div>
        <h4>What We Sell</h4>
    </div>
    <div id="store">
        <h5>Printers</h5>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-deskjet-1510.jpg" alt="HP Deskjet 1510" data-caption="HP Deskjet 1510">
                    </div>
                    <div class="card-action center">
                        <span>HP Deskjet 1510</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-deskjet-4675.png" alt="HP Deskjet 4675" data-caption="HP Deskjet 4675">
                    </div>
                    <div class="card-action center">
                        <span>HP Deskjet 4675</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-laserjet-3015.jpg" alt="HP Laserjet 3015" data-caption="HP Laserjet 3015">
                    </div>
                    <div class="card-action center">
                        <span>HP Laserjet 3015</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-laserjet-pro-m402dn.jpg" alt="HP Laserjet Pro m402dn" data-caption="HP Laserjet Pro m402dn">
                    </div>
                    <div class="card-action center">
                        <span>HP Laserjet Pro m402dn</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-deskjet-2520.jpg" alt="HP Deskjet 2520" data-caption="HP Deskjet 2520">
                    </div>
                    <div class="card-action center">
                        <span>HP Deskjet 2520</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-laserjet-1020.jpg" alt="HP Laserjet 1020" data-caption="HP Laserjet 1020">
                    </div>
                    <div class="card-action center">
                        <span>HP Laserjet 1020</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-laserjet-p1102.jpeg" alt="HP Laserjet 1102w" data-caption="HP Laserjet 1102w">
                    </div>
                    <div class="card-action center">
                        <span>HP Laserjet 1102w</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/printers/hp-laserjet-cz173a.jpeg" alt="HP Laserjet CZ173A" data-caption="HP Laserjet CZ173A">
                    </div>
                    <div class="card-action center">
                        <span>HP Laserjet CZ173A</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages">
            <ul class="pagination center">
                <li class="waves-effect"><a href="/store/screens"><span class="mdi mdi-chevron-left"></span></a></li>
                <li class="waves-effect"><a href="/store">1</a></li>
                <li class="waves-effect"><a href="/store/systemUnits">2</a></li>
                <li class="waves-effect"><a href="/store/tabs">3</a></li>
                <li class="waves-effect"><a href="/store/screens">4</a></li>
                <li class="active waves-effect"><a href="/store/printers">5</a></li>
                <li class="waves-effect"><a href="/store/accessories">6</a></li>
                <li class="waves-effect"><a href="/store/accessories"><span class="mdi mdi-chevron-right"></span></a></li>
            </ul>
         </div>
    </div>
</main>
{{> fab}}
{{> footer}}