{{> header}}
<main>
    <div id="products-header">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/products" class="breadcrumb">Products</a>
            <a href="/products" class="breadcrumb products">Laptops</a>
        </div>
        <h4>What We Sell</h4>
    </div>
    <div id="products">
        <h5>Laptops</h5>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/acer-aspire-es1-432.jpg" alt="Acer Aspire ES1" data-caption="Acer Aspire ES1">
                    </div>
                    <div class="card-action center">
                        <span>Acer Aspire ES1</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/dell-inspiron-14.jpg" alt="Dell Inspiron 14" data-caption="Dell Inspiron 14">
                    </div>
                    <div class="card-action center">
                        <span>Dell Inspiron 14</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/dell-inspiron-15.jpg" alt="Dell Inspiron 15" data-caption="Dell Inspiron 15">
                    </div>
                    <div class="card-action center">
                        <span>Dell Inspiron 15</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/hp-15-db0599sa-15.6-inches.jpg" alt="HP 15 db0599sa" data-caption="HP 15 db0599sa">
                    </div>
                    <div class="card-action center">
                        <span>HP 15 db0599sa</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/hp-15-notebook.jpg" alt="HP 15 Notebook" data-caption="HP 15 Notebook">
                    </div>
                    <div class="card-action center">
                        <span>HP 15 Notebook</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/hp-250-g6.jpg" alt="HP 250 G6" data-caption="HP 250 G6">
                    </div>
                    <div class="card-action center">
                        <span>HP 250 G6</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/hp-elite-850.jpg" alt="HP Elite 850" data-caption="HP Elite 850">
                    </div>
                    <div class="card-action center">
                        <span>HP Elite 850</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/hp-elitebook-820.jpg" alt="HP EliteBook 820" data-caption="HP EliteBook 820">
                    </div>
                    <div class="card-action center">
                        <span>HP EliteBook 820</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/hp-elite-book-830-g5.jpg" alt="HP EliteBook 830 G5" data-caption="HP EliteBook 830 G5">
                    </div>
                    <div class="card-action center">
                        <span>HP EliteBook 830 G5</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/hp-elite-book-folio-g1.jpg" alt="HP EliteBook Folio G1" data-caption="HP 250 G6HP EliteBook Folio G1">
                    </div>
                    <div class="card-action center">
                        <span>HP EliteBook Folio G1</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/lenovo.jpg" alt="Lenovo" data-caption="Lenovo">
                    </div>
                    <div class="card-action center">
                        <span>Lenovo</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/lenovo-ideapad-320.png" alt="Lenovo Ideapad 320" data-caption="Lenovo Ideapad 320">
                    </div>
                    <div class="card-action center">
                        <span>Lenovo Ideapad 320</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/lenovo-ideapad-320-15.6-inches.png" alt="Lenovo Ideapad 320 15.6" data-caption="Lenovo Ideapad 320 15.6">
                    </div>
                    <div class="card-action center">
                        <span>Lenovo Ideapad 320 15.6"</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/lenovo-v110-15.jpg" alt="Lenovo v110-15" data-caption="Lenovo v110-15">
                    </div>
                    <div class="card-action center">
                        <span>Lenovo v110-15</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/toshiba-satellite-pro.jpg" alt="Toshiba Satellite Pro" data-caption="Toshiba Satellite Pro">
                    </div>
                    <div class="card-action center">
                        <span>Toshiba Satellite Pro</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/laptops/toshiba-dynabook-a55-e.jpg" alt="Toshiba Dynabook A55-E" data-caption="Toshiba Dynabook A55-E">
                    </div>
                    <div class="card-action center">
                        <span>Toshiba Dynabook A55-E</span>
                    </div>
                </div>
            </div>
        </div>
         <div class="pages">
            <ul class="pagination center">
                <li class="disabled"><a><span class="mdi mdi-chevron-left"></span></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="/products/systemUnits">2</a></li>
                <li class="waves-effect"><a href="/products/tabs">3</a></li>
                <li class="waves-effect"><a href="/products/screens">4</a></li>
                <li class="waves-effect"><a href="/products/printers">5</a></li>
                <li class="waves-effect"><a href="/products/accessories">6</a></li>
                <li class="waves-effect"><a href="products/systemUnits"><span class="mdi mdi-chevron-right"></span></a></li>
            </ul>
         </div>
    </div>
</main>
{{> fab}}
{{> footer}}