{{> header}}
<main>
    <div class="col s12 breadcrumb-section">
        <a href="/" class="breadcrumb">Home</a>
        <a href="/about" class="breadcrumb about">About Us</a>
        <h4>Projects</h4>
    </div>
</main>
{{> fab}}
{{> footer}}
