{{> header}}
<main>
    <div id="store-header">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/store" class="breadcrumb">store</a>
            <a href="/store/systemUnits" class="breadcrumb store">Monitor Screens</a>
        </div>
        <h4>What We Sell</h4>
    </div>
    <div id="store">
        <h5>Monitor Screens</h5>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/acer-lcd-monitor-g-195hqv.jpeg" alt="Acer LCD Monitor" data-caption="Acer LCD Monitor">
                    </div>
                    <div class="card-action center">
                        <span>Acer LCD Monitor</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/dell-19-inches-monitor.gif" alt="Dell 19 inches Monitor" data-caption="Dell 19 inches Monitor">
                    </div>
                    <div class="card-action center">
                        <span>Dell 19" Monitor</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/dell-monitor.jpg" alt="Dell Monitor" data-caption="Dell Monitor">
                    </div>
                    <div class="card-action center">
                        <span>Dell Monitor</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/dell-se2416h-monitor.jpg" alt="Dell se2416h" data-caption="Dell se2416h">
                    </div>
                    <div class="card-action center">
                        <span>Dell se2416h</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/dell-u2412mb-24-inches-monitor.jpg" alt="Dell u2412mb" data-caption="Dell u2412mb">
                    </div>
                    <div class="card-action center">
                        <span>Dell u2412mb</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/hp-l24455-monitor.jpg" alt="HP l24455" data-caption="HP l24455">
                    </div>
                    <div class="card-action center">
                        HP l24455</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/hp-w2082a-20-inches-lcd-monitor.jpg" alt="HP w2082a" data-caption="HP w2082a">
                    </div>
                    <div class="card-action center">
                        <span>HP w2082a</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/screens/hp-2010i.jpg" alt="HP 2010i" data-caption="HP 2010i">
                    </div>
                    <div class="card-action center">
                        <span>HP 2010i</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages">
            <ul class="pagination center">
                <li class="waves-effect"><a href="/store/tabs"><span class="mdi mdi-chevron-left"></span></a></li>
                <li class="waves-effect"><a href="/store">1</a></li>
                <li class="waves-effect"><a href="/store/systemUnits">2</a></li>
                <li class="waves-effect"><a href="/store/tabs">3</a></li>
                <li class="active waves-effect"><a href="/store/screens">4</a></li>
                <li class="waves-effect"><a href="/store/printers">5</a></li>
                <li class="waves-effect"><a href="/store/accessories">6</a></li>
                <li class="waves-effect"><a href="/store/printers"><span class="mdi mdi-chevron-right"></span></a></li>
            </ul>
         </div>
    </div>
</main>
{{> fab}}
{{> footer}}