{{> header}}
<main>
    <div id="products-header">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/products" class="breadcrumb">Products</a>
            <a href="/products/systemUnits" class="breadcrumb products">System Units</a>
        </div>
        <h4>What We Sell</h4>
    </div>
    <div id="products">
        <h5>System Units</h5>
<div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/dell-vostro-3900.jpg" alt="Dell Vostro 3900" data-caption="Dell Vostro 3900">
                    </div>
                    <div class="card-action center">
                        <span>Dell Vostro 3900</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/hp-compaq-elite.jpg" alt="HP Compaq Elite" data-caption="HP Compaq Elite">
                    </div>
                    <div class="card-action center">
                        <span>HP Compaq Elite</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/hp-pavilion-system-unit.jpg" alt="HP Pavilion" data-caption="HP Pavilion">
                    </div>
                    <div class="card-action center">
                        <span>HP Pavilion</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/hp-proDesk-tower.jpg" alt="HP ProDesk Tower" data-caption="HP ProDesk Tower">
                    </div>
                    <div class="card-action center">
                        <span>HP ProDesk Tower</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/acer-veriton-thin-client.jpg" alt="Acer Veriton Thin Client" data-caption="Acer Veriton Thin Client">
                    </div>
                    <div class="card-action center">
                        <span>Acer Veriton Thin Client</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/dell-1.jpeg" alt="Dell Tower" data-caption="Dell Tower">
                    </div>
                    <div class="card-action center">
                        <span>Dell Tower</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/dell-optiflex-390-slim.png" alt="Dell Optiflex 390 Slim" data-caption="Dell Optiflex 390 Slim">
                    </div>
                    <div class="card-action center">
                        <span>Dell Optiflex 390 Slim</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/dell-optiflex-9020.jpg" alt="Dell Optiflex 9020" data-caption="Dell Optiflex 9020">
                    </div>
                    <div class="card-action center">
                        <span>Dell Optiflex 9020</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/hp-system-unit-dc700.jpg" alt="HP DC700" data-caption="HP DC700">
                    </div>
                    <div class="card-action center">
                        <span>HP DC700</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/hp-t730-thin-client.jpg" alt="HP T730 Thin Client" data-caption="HP T730 Thin Client">
                    </div>
                    <div class="card-action center">
                        <span>HP T730 Thin Client</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/hp-thin-client.jpeg" alt="HP Thin Client" data-caption="HP Thin Client">
                    </div>
                    <div class="card-action center">
                        <span>HP Thin Client</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/system-units/lenovo-think-centre.jpg" alt="Lenovo Think Center" data-caption="Lenovo Think Center">
                    </div>
                    <div class="card-action center">
                        <span>Lenovo Think Center</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages">
            <ul class="pagination center">
                <li class="waves-effect"><a href="/products"><span class="mdi mdi-chevron-left"></span></a></li>
                <li class="waves-effect"><a href="/products">1</a></li>
                <li class="active waves-effect"><a href="/products/systemUnits">2</a></li>
                <li class="waves-effect"><a href="/products/tabs">3</a></li>
                <li class="waves-effect"><a href="/products/screens">4</a></li>
                <li class="waves-effect"><a href="/products/printers">5</a></li>
                <li class="waves-effect"><a href="/products/accessories">6</a></li>
                <li class="waves-effect"><a href="/products/tabs"><span class="mdi mdi-chevron-right"></span></a></li>
            </ul>
         </div>
    </div>
</main>
{{> fab}}
{{> footer}}