{{> header}}
<main>
    <div id="products-header">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/products" class="breadcrumb">Products</a>
            <a href="/products/systemUnits" class="breadcrumb products">Tablet Devices</a>
        </div>
        <h4>What We Sell</h4>
    </div>
    <div id="products">
        <h5>Tablet Devices</h5>
<div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/microsoft-surface-10-inches.jpg" alt="Microsoft Surface" data-caption="Microsoft Surface">
                    </div>
                    <div class="card-action center">
                        <span>Microsoft Surface</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/samsung-galaxy-note-10.1.jpg" alt="Samsung Galaxy Note" data-caption="Samsung Galaxy Note">
                    </div>
                    <div class="card-action center">
                        <span>Samsung Galaxy Note</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/samsung-galaxy-tab-s3.jpg" alt="Samsung Galaxy Tab S3" data-caption="Samsung Galaxy Tab S3">
                    </div>
                    <div class="card-action center">
                        <span>Samsung Galaxy Tab S3</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/sony-tab.jpg" alt="Sony Tab" data-caption="Sony Tab">
                    </div>
                    <div class="card-action center">
                        <span>Sony Tab</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/amazon-fire.jpg" alt="Amazon Fire" data-caption="Amazon Fire">
                    </div>
                    <div class="card-action center">
                        <span>Amazon Fire"</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/chuwi-windows-android-2-in-1.png" alt="Chuwi Windows-Android (Dual OS)" data-caption="Chuwi Windows-Android (Dual OS)">
                    </div>
                    <div class="card-action center">
                        <span>Chuwi Windows-Android (Dual OS)</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/Huawei-MediaPad.jpg" alt="Huawei MediaPad" data-caption="Huawei MediaPad">
                    </div>
                    <div class="card-action center">
                        <span>Huawei MediaPad</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/lenovo-tab-4.png" alt="Lenovo Tab-4" data-caption="Lenovo Tab-4">
                    </div>
                    <div class="card-action center">
                        <span>Lenovo Tab-4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="/img/tabs/toshiba-thrive-10.1.jpg" alt="Toshiba Thrive" data-caption="Toshiba Thrive">
                    </div>
                    <div class="card-action center">
                        <span>Toshiba Thrive</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages">
            <ul class="pagination center">
                <li class="waves-effect"><a href="/products/systemUnits"><span class="mdi mdi-chevron-left"></span></a></li>
                <li class="waves-effect"><a href="/products">1</a></li>
                <li class="waves-effect"><a href="/products/systemUnits">2</a></li>
                <li class="active waves-effect"><a href="/products/tabs">3</a></li>
                <li class="waves-effect"><a href="/products/screens">4</a></li>
                <li class="waves-effect"><a href="/products/printers">5</a></li>
                <li class="waves-effect"><a href="/products/accessories">6</a></li>
                <li class="waves-effect"><a href="/products/screens"><span class="mdi mdi-chevron-right"></span></a></li>
            </ul>
        </div>
    </div>
</main>
{{> fab}}
{{> footer}}