.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.65;
}

.txt-type > .txt {
    border-right: 0.2rem solid #fff;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#readMore {
    border: 0.125rem solid #fff;
    background: transparent;
    box-shadow: none !important;
    font-family: 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
}

#readMore:hover {
    background: #fff;
    color: #333;
}

.section {
    color: #666;
    padding: 1.25rem 2.5rem;
    /* margin: 80px 50px; */
}

.section h4 {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#products {
    margin-top: 3.125rem;
    text-align: center;
}

.product-icon  {
    color: #462a5c;
    font-size: 9.375rem;
    opacity: 0.8;
    transition: 0.5s linear color;
}

.product-icon:hover  {
    color: #db8e00;
}

#products p {
    font-weight: 600;
}

a.more {
    color: #333;
}

a.more:hover {
    color: #039be5;
    text-decoration: underline;
}

a.btn-more:visited {
    color: #333;
}

.card-panel {
    background-color: #fff;
    color: #333 !important;
}

#values {
    background-color: #fff;
    color: #666;
    text-align: center;
    padding: 1.25rem 0;
}

#values h4 {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3.125rem;
}

.values-icon {
    width: 100% !important;
    height: 100% !important;
    color: #c0c0c0;
    border: 0.125rem solid #c0c0c0 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 3.5em; /* 90px */;
    padding: 1.25rem 1.875rem;
    text-align: center;
}

.values-icon:hover {
    background-color: #673ab7;
    border: none !important;
    color: #fff;
}

.values-header {
    font-family: 'Krub', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1.875rem;
}

#values-contact {
    /* background-color: #673ab7; */
    background: -webkit-linear-gradient(to right, #42275a, #734b6d);
    background: -moz-linear-gradient(to right, #42275a, #734b6d);
    background: -ms-linear-gradient(to right, #42275a, #734b6d);
    background: -o-linear-gradient(to right, #42275a, #734b6d);
    background:  linear-gradient(to right, #42275a, #734b6d);
    color: #fff;
    font-size: 1.5625rem;
    font-weight: 300;
    margin-bottom: 0;
    padding: 3.125rem;
    text-align: center;
}

#values-contact-button {
    background: transparent;
    border: 0.125rem solid #fff;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
     box-shadow: none;

    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
     border-radius: 0.3125rem;
}

#values-contact-button:hover {
    background-color: #4c2e5e;
}

.parallax1, .parallax2 {
    position: relative;
    opacity: 0.7;
    bacground-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax1 {
    background-image: url('/img/parallax1.jpg');
    min-height: 31.25rem;
}

.parallax2 {
    background-image: url('/img/parallax2.jpg');
    min-height: 31.25rem;
}

.parallax2 .parallax-text {
    border: none;
    background: none;
}

.parallax-text {
    background-color: #111;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.9;
    position: relative !important;
    top: 15.625rem !important;
    left: 25%;
    font-size: 2.3125rem;
    font-weight: 400;
    padding: 1.25rem;
    color: #fff;
    max-width: 50%;
    border-left: 0.3125rem solid #673ab7;
}

.card .card-content p {
    font-weight: 500;
}

section {
    padding: 1.875rem 0;
}

section h3 {
    color: #666;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    margin-bottom: 1.875rem
}
