* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
    transition: 0.8s;
}

nav li a {
    color: #fff !important;
    font-family: 'Krub', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav li a:hover {
    background: none !important;
    color: #ffa500 !important;
}

.sidenav {
    background: -webkit-linear-gradient(to bottom, #42275a, #734b6d);
    background: -moz-linear-gradient(to bottom, #42275a, #734b6d);
    background: -ms-linear-gradient(to bottom, #42275a, #734b6d);
    background: -o-linear-gradient(to bottom, #42275a, #734b6d);
    background:  linear-gradient(to bottom, #42275a, #734b6d);
    width: 50vw;
}

.sidenav-overlay {
    z-index: 4;
}

.sidenav li > a {
    color: #fff !important;
}

nav.scrolled #menu-icon {
    color: #333;
}

.brand-logo img {
    width: 11.25rem;
    height: 1.875rem;
}

.scrolled {
    background-color: rgba(255, 255, 255, 0.95) !important;
    transition: 0.8s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.scrolled-links {
    color: #333 !important;
}

.header-content {
    text-align: center;
    width: 100vw;
    z-index: 2;
}

.header-content h1 {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.125rem;
    margin-bottom: 3.2rem;
    text-align: center;
    text-transform: uppercase;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    color: #ccc;
    text-align: left;
}

#top {
    display: none;
}

.btn-floating {
    background-color: #db8e00;
}

#top-arrow {
    color: #fff;
}

a.btn-floating:hover {
    background-color: #c98200;
    border: none;
}

.page-footer {
    /* background-color: #673ab7; */
    background: -webkit-linear-gradient(to bottom right, #42275a, #734b6d);
    background: -moz-linear-gradient(to bottom right, #42275a, #734b6d);
    background: -ms-linear-gradient(to bottom right, #42275a, #734b6d);
    background: -o-linear-gradient(to bottom right, #42275a, #734b6d);
    background:  linear-gradient(to bottom right, #42275a, #734b6d);
    font-family: 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-footer h5 {
    color: #db8e00;
    font-family: 'Krub', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.footer-copyright {
    padding: 1rem 5rem !important;
}

#services-list li {
    color: #f5f5f5;
    list-style-type: disc;
}

#footer-links li {
    display: inline-block;
    margin-left: 1rem;
}

#footer-links a {
    color: #f5f5f5;
    font-size: 1.5rem !important;
    margin-right: 1.25rem;
}

#footer-links a:visited {
    color: #f5f5f5;
}

#footer-links a:hover {
    cursor: pointer;
    color: #ffa500;
}

#find-us p {
    color: #f5f5f5;
    margin-bottom: 0.5rem !important;
}

#find-us p span {
    color: #e1e1e1;
    font-size: 1.2rem;
}

@media (max-width: 960px) {
    /* .container {
        padding-right: 3rem;
        padding-left: 3rem;
    } */
}

@media (max-width: 768px) {
    #values {
        padding: 0 0 20px 0 !important;
    }

    #values p {
        margin-bottom: 60px;
        padding-bottom: 20px;
    }

    #values h4 {
        background: -webkit-linear-gradient(to right, #42275a, #734b6d);
        background: -moz-linear-gradient(to right, #42275a, #734b6d);
        background: -ms-linear-gradient(to right, #42275a, #734b6d);
        background: -o-linear-gradient(to right, #42275a, #734b6d);
        background:  linear-gradient(to right, #42275a, #734b6d);
        color: #fff;
        margin-top: 0;
        padding: 10px;
    }

    #values-contact-button {
        margin-top: 2rem;
    }

    .parallax1, .parallax2 {
        display: none;
    }

    .page-footer {
        text-align: center;
    }

    #services-list li {
        list-style-type: none;
    }

    #find-us p span {
        display: none;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* font-family: 'Krub', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dosis', sans-serif; */
