* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    /* footer #1b1b1b #262626 */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
    transition: 0.8s;
}

nav li a {
    color: #fff !important;
}

nav li a:hover {
    background: none !important;
    color: #ffa500 !important;
}

.sidenav {
    background: -webkit-linear-gradient(to bottom, #42275a, #734b6d);
    background: -moz-linear-gradient(to bottom, #42275a, #734b6d);
    background: -ms-linear-gradient(to bottom, #42275a, #734b6d);
    background: -o-linear-gradient(to bottom, #42275a, #734b6d);
    background:  linear-gradient(to bottom, #42275a, #734b6d);
    width: 50vw;
}

.sidenav-overlay {
    z-index: 4;
}

.sidenav li > a {
    color: #fff !important;
}



nav.scrolled #menu-icon {
    color: #333;
}

.brand-logo img {
    width: 11.25rem;
    height: 1.875rem;
}

.scrolled {
    background-color: #fff !important;
    transition: 0.8s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.scrolled-links {
    color: #333 !important;
}

.header-content {
    text-align: center;
    width: 100vw;
    z-index: 2;
}

.header-content h1 {
    font-size: 3.125rem;
    margin-bottom: 3.2rem;
    text-align: center;
    text-transform: uppercase;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    color: #ccc;
    text-align: left;
}

.txt-type > .txt {
    border-right: 0.2rem solid #fff;
}

#readMore {
    border: 0.125rem solid #fff;
    background: transparent;
    box-shadow: none !important;
    margin: auto;
}

#readMore:hover {
    background: #fff;
    color: #333;
}
#top {
    display: none;
}

.btn-floating {
    background-color: #db8e00;
}

#top-arrow {
    color: #fff;
}

a.btn-floating:hover {
    background-color: #c98200;
    border: none;
}

.page-footer {
    /* background-color: #673ab7; */
    background: -webkit-linear-gradient(to bottom right, #42275a, #734b6d);
    background: -moz-linear-gradient(to bottom right, #42275a, #734b6d);
    background: -ms-linear-gradient(to bottom right, #42275a, #734b6d);
    background: -o-linear-gradient(to bottom right, #42275a, #734b6d);
    background:  linear-gradient(to bottom right, #42275a, #734b6d);
}

.page-footer h5 {
    color: #db8e00;
}

.footer-copyright .row {
    margin-bottom: 0;
}

.footer-copyright .container .row {
    padding: 0.625rem;
}

.footer-copyright .container .row span {
    font-family: Open Sans, Helvetica Neue,Helvetica,Arial,sans-serif;
}

.footer-icon {
    font-size: 1.5rem !important;
    margin-right: 1.25rem;
}

.footer-icon:hover {
    cursor: pointer;
    color: #ffa500;
}

@media (max-width: 960px) {
    /* .container {
        padding-right: 3rem;
        padding-left: 3rem;
    } */
}

@media (max-width: 768px) {
    #values {
        padding: 0 0 20px 0 !important;
    }

    #values p {
        margin-bottom: 60px;
        padding-bottom: 20px;
    }

    #values h4 {
        background: -webkit-linear-gradient(to right, #42275a, #734b6d);
        background: -moz-linear-gradient(to right, #42275a, #734b6d);
        background: -ms-linear-gradient(to right, #42275a, #734b6d);
        background: -o-linear-gradient(to right, #42275a, #734b6d);
        background:  linear-gradient(to right, #42275a, #734b6d);
        color: #fff;
        margin-top: 0;
        padding: 10px;
    }

    #values-contact-button {
        margin-top: 2rem;
    }

    div.parallax-text {
        position: relative;
        left: 0 !important;
        border: none !important;
        max-width: 100% !important;
        font-size: 20px !important;
    }

    .footer-copyright .container .row span {
        clear: left;
        /* position: relative;
        left: 0; */
    }

    .page-footer {
        text-align: center;
    }

    #footer-links {
        margin-left: 35%;
    }
}
